
.palavra {
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #1d1f24;
  color: #f7f8fc;
  display: 'flex';
  font-family: "Courier New";
  font-size: large;
}

.inserir {
  /*height: 100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
}