
.forca {
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #1d1f24;
  color: #f7f8fc;
  display: 'flex';
  font-family: "Courier New";
  font-size: large;
}

.inserir {
  /*height: 100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.letra {
  background: #111214;
  border: 1px solid rgb(77, 76, 76);
  float: left;
  font-family: "Courier New";
  color: #f6f6f8;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  width: 40px;
  margin-right: 4px;
  margin-top: 4px;
  padding: 4px;
  text-align: center;
}

.letra:disabled {
  background-color: #1d1f24;
  color: #8c8c8f;
}

.letra:focus {
  outline : none;
}

.letra:hover:enabled {
  transform: scale(0.98);
  transition-duration: 0.2s;
}

.teclado {
  margin: auto;
  display: table;
  /*background-color: #373b42;*/
}

.palavra {
  height: 70px;
  font-size: 28px;
}