
.forca {
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #1d1f24;
  color: #d8db28;
  display: 'flex';
  font-family: "Verdana";
  font-size: 28px;
}

.body {
  margin: 10px;
}

.inserir {
  /*height: 100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.letra {
  background: #111214;
  border: 1px solid rgb(77, 76, 76);
  float: left;
  font-family: "Courier New";
  color: #f6f6f8;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  width: 50px;
  margin-right: 4px;
  margin-top: 4px;
  padding: 4px;
  text-align: center;
}

.letra:disabled {
  background-color: #1d1f24;
  color: #8c8c8f;
}

.letra:focus {
  outline : none;
}

.letra:hover:enabled {
  transform: scale(0.98);
  transition-duration: 0.2s;
}

.teclado {
  margin: auto;
  display: table;
  /*background-color: #373b42;*/
}

.filme {
  max-width: 1100px;
  min-height: 100px;
	margin: 0 auto;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #f6f6f8;
}

.palavra {
  height: 50px;
  margin: auto;
  margin-right:50px;
  margin-left:50px;
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  color: #f6f6f8;
}

.erro {
  background: #111214;
  border: 1px solid rgb(77, 76, 76);
  font-family: "Courier New";
  color: #4b4a4a;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 100px;
  width: 80px;
  padding: 4px;
  margin-top: 40px;
  margin-right: 5px;
  margin-right: 5px;
  text-align: center;
}

.erroMarcado {
  background: #111214;
  border: 1px solid rgb(77, 76, 76);
  font-family: "Verdana";
  color: #b41111;
  /*text-shadow: 3px #f7f8fc;*/
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 100px;
  width: 80px;
  padding: 4px;
  margin-top: 40px;
  margin-right: 5px;
  margin-right: 5px;
  text-align: center;
}

.erros {
  text-align: center;
  margin: auto;
  display: inline-flex;
}

.botao {
  height: 50px;
  width: 150px;
  background-color:#dfc012;
  border: 1px solid rgb(77, 76, 76);
  color:rgb(41, 40, 40);
  font-size: 23px;
  font-weight: bold;
  font-family: "Verdana";
}

.botao:hover {
  transform: scale(0.98);
  transition-duration: 0.2s;
}

.blocoTelaFinal {
  width: 600px;
  padding: 15px;
  margin: auto;
  background-color:#161616;
  border: 1px solid rgb(77, 76, 76);
  display: flex;
  margin-bottom: 20px;
}

.detalhesFilme {
  color :rgb(238, 235, 235);
  text-align: right;
  font-size: 13px;
  padding: 15px;
  font-family: "Verdana";
}

.detalhesFilme>h1 {
  font-size: 30px;
  text-align: right;
}

.detalhesFilme>h2 {
  font-size: 15px;
  text-align: right;
}